<div class="modal fade" id="notes-modal{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="notes-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Notes for {{this.title}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" id="modal-cancel">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{#if this.note}}
                    {{#each this.note}}
                        <div class="card">
                            <div class="card-body">
                                <p id="added-note">
                                    {{this.body}}
                                    <button type="button" class="btn btn-danger" id="delete-note" data-note-id={{this._id}} data-article-id={{this.article}}>X</button>
                                </p>
                            </div>
                        </div>
                    {{/each}}
                {{else}}
                    <div class="card">
                        <div class="card-body">
                            <p>No one has commented on this article yet.</p>
                        </div>
                    </div>
                {{/if}}
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <textarea id="note-text{{this._id}}" name="text" class="form-control" rows="5" placeholder="Add a note here."></textarea>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="save-note" data-id={{this._id}}>Save Note</button>
            </div>
        </div>
    </div>
</div>