<div class="col-lg-12 jumbotron" id="jumbo">
    <h1 class="header">
        Mongo News Scraper
    </h1>
    <h3 class="header">
        RVA Magazine Edition
    </h3>
    <button type="button" class="btn-lg mx-auto" id="scrape-btn">Scrape For Articles</button>
</div>
<div class="col-lg-12">
    {{#if article}}
        {{#each article}}
            <div class="card article-card">
                <div class="card-header">
                    <h5>
                        {{this.title}}
                        <button type="button" class="btn btn-success float-right" id="save-article" data-id={{this._id}}>Save Article</button>
                    </h5>
                </div>
                <div class="card-body">
                    <p>
                        {{this.summary}}
                    </p>
                    <a href={{this.link}} target="_blank">Read More</a>
                </div>
            </div>
        {{/each}}
    {{else}}
        <div class="card">
            <div class="card-body">
                <h5>
                    Oops... Looks like we don't have any new articles.
                </h5>
            </div>
        </div>
    {{/if}}
</div>